{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Season{% endblock %}

{% block body %}
    <div>
        <p>
            test
        </p>
    </div>



    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}